{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <form action ="{% url 'save_edit'%}" method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <br>
        <input type="text" name="title" placeholder="Enter Title" value ="{{ title }}">
        <br>
        <label for="content">Markdown Content</label>
        <br>
        <textarea style="height: 300px; width: 900px;" id="content" name="content" > {{content}}</textarea>
        <br>
        <input type="submit" value="Edit Page" class="btn btn-primary">
    </form>

{% endblock %}